// _header.scss
@use 'variables';

header {
  background-color: variables.$secondary-color;
  padding: 1rem 2rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
}

nav {
  ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a {
        color: #fff; // Apply a color directly for testing
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: variables.$primary-color;
        }
      }
    }
  }
}
